.kad-sortable-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.kad-sortable-item {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	padding: 8px;
	background-color: white;
	border: 1px solid var(--mauve-6);
	border-radius: 4px;
}

.kad-sortable-item-dragging {
	opacity: 0.5;
}

.kad-sortable-handle {
	all: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: grab;
	color: var(--mauve-11);
	padding-top: 2px;
	flex-shrink: 0;
	&:active {
		cursor: grabbing;
	}
}

.kad-sortable-content {
	flex: 1;
}
